# Import data, locally and on Colab
The following code illustrates how to import data from a local file and from a file stored on Google Drive. Just copy the first cell into your notebook that you provide as a template and it will work on both local and Colab environments.

NOTE: The file needs to be on Google Drive and shared with a link. You can then extract the file ID from the link and use it in the code below.

In [ ]:
import sys
import os

IN_COLAB = "google.colab" in sys.modules

file_id = "1XPlAgw104eeoDQavyZ6AynudQQjyy77c"

if IN_COLAB:
    path_to_data = "/content/data/airports.csv"
    os.makedirs(os.path.dirname(path_to_data), exist_ok=True)
    !gdown "https://drive.google.com/uc?id={file_id}" -O "{path_to_data}"
else:
    import gdown

    url = f"https://drive.google.com/uc?id={file_id}"
    path_to_data = "data/airports.csv"
    os.makedirs(os.path.dirname(path_to_data), exist_ok=True)
    gdown.download(url, path_to_data, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1XPlAgw104eeoDQavyZ6AynudQQjyy77c
To: /Users/rm/Desktop/Daten/Git/zhaw/TSO-FS25/01_python_basics/data/airports.csv
100%|██████████| 210k/210k [00:00<00:00, 11.4MB/s]

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv(path_to_data)
data.head()

,iata,name,city,state,country,latitude,longitude
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944